@use '/src/sass/common/buttons.scss';
@use '/src/sass/common/var.scss';


.work-algorithm {
    padding: 6.25rem 0 6.25rem 0;

    @media (width <= 1024px) {
        padding: 3.25rem 0 3.25rem 0;
    }
}

.algorithm-wrapper {
    display: flex;
    flex-direction: column;

    gap: 3.25rem;

        &__button {
            @include buttons.button--clear;
            color: var.$color-primary;

            cursor: pointer;
        }

        form {
            display: flex;
            justify-content: center;
        }
}