@use '/src/sass/common/fonts.scss';
@use '/src/sass/common/var.scss';

header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: var.$color-body;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1.25rem 0 1.25rem 0;

    @media (width <= 1024px) {
        justify-content: space-between;
    }
}

.menu {

    .menu-list {
        display: flex;
        gap: 1.75rem;

          &__item {
            @include fonts.header--menu;
            color: var.$color-text-gray;
            
            a {
                transition: 0.4s;

                &:hover {
                    color: var.$color-primary;
                }
            }
          }
    }

    @media (width <= 1024px) {
        display: none;
    }

}

.header-block {
    @media (width <= 1024px) {
        display: flex;
        flex-direction: row;

        gap: 1rem;
    }
}

.contact {
    display: flex;
    align-items: center;

    gap: 1.25rem;

        &__item {
            @include fonts.header--contact;

                @media (width <= 1024px) {
                    justify-items: flex-end;
                }

                @media (width <= 380px) {
                    display: none;
                }
        }

        &__img {
            
            @media (width <= 1024px) {
                display: none;
            }
        }
}

.open-menu .contact__item {
    display: none;
}